@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.page {
  height: 100vh;
  font-family: var(--font-family);
  font-weight: var(--fw-400);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-gray-400);
  background-color: var(--color-white);

  &__body {
    position: relative;
    min-width: rem(320);
    min-height: var(--vh);

    // &::before {
    //   content: '';
    //   position: absolute;
    //   z-index: 10;
    //   width: 0;
    //   background-color: rgba(0, 0, 0, 0.5);
    //   transition: width 0.4s linear;
    //   inset: 0;
    // }
  }

  &.open {
    overflow: hidden;

    > .page__body::before {
      width: 100%;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.site-container {
  @include footerToBottom;
}

.section {
  margin-bottom: clamp(3rem, vw(100), 6.25rem);
}

.logo {
  @include flex-all-center;
  flex-shrink: 0;

  &__img {
    width: rem(90);
    min-height: rem(68);
    object-fit: contain;
  }
}

.main {
  padding-top: calc(var(--header-height) + 40px);
}

.shadow {
  @include cover-bg;
  @include flex-h-center;

  flex-direction: column;

  min-height: rem(585);
  position: relative;
  z-index: 2;
  border-radius: var(--radius-big);

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
    inset: 0;
    border-radius: inherit;
  }
}
