:root {
  // container
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // base
  --font-family: "AnekMalayalam", sans-serif;
  --font-title: "BakbakOne", sans-serif;
  --fw-400: 400;
  --fw-500: 500;

  // colors
  --color-white: #fff;
  --color-green: #0C3C43;
  --color-green-100: #296e79;
  --color-gray: #f6f7f8;
  --color-gray-400: #4b4b4b;
  --color-gray-100: #a4a4a4;
  --color-gray-200: #a2a2a2;
  --color-black: #1b1b1b;

  // radius
  --radius-main: 12px;
  --radius-big: 24px;
  --radius-round: 50%;
  
}
