@use "../utils/functions" as *;
@use "../utils/mixins" as *;

.btn {
  @include flex-all-sb;

  position: relative;
  z-index: 5;
  border-radius: var(--radius-main);
  white-space: nowrap;
  padding: 0.75rem 2rem;
  width: 100%;
  max-width: rem(240);
  font-size: 1.25rem;
  font-weight: var(--fw-500);
  line-height: 1.8;
  color: var(--color-white);
  gap: rem(16);
  background-color: var(--color-green);
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &::after {
    @include mask;
    position: relative;
    mask-image: url("../images/icons/arrow.svg");
  }

  &:hover {
    background-color: var(--color-green-100);
  }

  &--transparent {
    background-color: var(--color-white);
    color: var(--color-gray-400);

    &:hover {
      color: var(--color-white);
    }
  }

  &--small {
    padding: rem(11) rem(24);
    border-radius: 8px;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.6;
    max-width: rem(170);

    &::after {
      content: none;
    }
  }
}

.slider-btn {
  @include flex-all-center;

  position: relative;
  border-radius: var(--radius-main);
  width: rem(48);
  height: rem(48);
  background-color: var(--color-white);
  gap: 1rem;
  transition: background-color 0.5s linear;

  &::before {
    @include mask;
    mask-image: url("../images/icons/arrow.svg");
    background-color: var(--color-black);
  }

  &:hover:not(.swiper-button-disabled) {
    background-color: var(--color-gray-200);
    &::before {
      background-color: var(--color-white);
    }
  }

  &:active:not(.swiper-button-disabled) {
    &::before {
      background-color: var(--color-white);
    }
  }

  &--reverse {
    &::before {
      transform: scaleX(-1);
    }
  }
}

.swiper-button-disabled {
  cursor: not-allowed;

  &::before {
    cursor: not-allowed;
  }
}
