@use "../utils/functions" as *;
@use "../utils/mixins" as *;

.card {
  @include flex;

  position: relative;
  width: fit-content;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: var(--radius-big);
  padding: clamp(1rem, vw(32), 2rem);
  height: 100%;
  gap: 2rem;
  background-color: var(--color-white);
  transition:
    border-color 0.3s linear,
    box-shadow 0.3s linear;

  &::before {
    content: "";
    position: relative;
    border-radius: var(--radius-main);
    width: rem(60);
    height: rem(60);
    background-image: url("../images/icons/installation.svg");
    background-position: center;
    background-size: rem(24);
    background-repeat: no-repeat;
    background-color: var(--color-green);
  }

  &--ins {
    &::before {
      background-image: url("../images/icons/installation.svg");
    }
  }

  &--repair {
    &::before {
      background-image: url("../images/icons/repair.svg");
    }
  }

  &--replacement {
    &::before {
      background-image: url("../images/icons/replacement.svg");
    }
  }

  &__title {
    font-family: var(--font-title);
    font-size: 2rem;
    line-height: 1.4;
    color: var(--color-green);
  }

  &__btn {
    margin-top: auto;
    padding: rem(11) rem(24);
    border-radius: 8px;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.6;
    max-width: rem(170);

    &::after {
      content: none;
    }
  }

  &:hover {
    border-color: var(--color-green);
    box-shadow: inset 0 0 5px 0 var(--color-green);
  }
}
