@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.footer {
  padding: clamp(2rem, vw(64), 4rem) 0;
  color: var(--color-white);
  background-color: var(--color-green);

  &__copyright {
    @include flex-all-center;
  }

  &__logo {
    width: 100%;
    max-width: rem(120);
    align-self: center;

    @include media(mobile-m) {
      order: 2;
    }
  }
}

.footer-nav {
  margin-bottom: clamp(2rem, vw(40), 2.5rem);
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: clamp(2rem, vw(72), 4.5rem);

  @include media(mobile-m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(mobile-s) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__title {
    margin-bottom: rem(24);
    font-family: var(--font-title);
    font-size: clamp(1.25rem, 1.1rem + 0.75vi, 2rem);
    line-height: 1.12;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    position: relative;
    font-weight: var(--fw-500);
    font-size: rem(20);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: currentcolor;
      transform: scale(0);
      transform-origin: left;
      transition: transform 0.3s linear;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }
}
