@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.header {
  position: absolute;
  z-index: 99;
  top: 0;
  padding: clamp(0.6rem, vw(20), 1.125rem) 0;
  width: 100%;

  &__link {
    @include media(mobile-l) {
      margin: 0 auto;
    }
  }
}
