@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;

.hero {
  color: var(--color-white);

  &__inner {
    padding-left: clamp(1rem, vw(80), 5rem);
    width: 100%;
    max-width: rem(640);
  }

  &__title {
    margin-bottom: rem(15);
    line-height: 1;
    text-align: left;
    color: var(--color-white);
  }

  &__text {
    margin-bottom: rem(50);
    p {
      font-size: clamp(1rem, 0.9rem + 0.5vi, 1.5rem);
    }
  }
}
